{% extends '::admin_base.html.twig' %}

{% block title %}
Liste des avions
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ asset('bundles/devaeroport/js/admin_avion.js') }}"></script>

<a href="{{ path('admin_avion_add') }}">Ajouter un avion</a><br /><br />

<span id="update-message" class="label label-success" style="display: none"></span>
<div id="loader" style="display: none">
    <img src="{{ asset('bundles/devaeroport/images/loading.gif') }}" width="15px" height="15px" style="margin-top:8px; " alt="" />&nbsp;&nbsp;Traitement en cours
</div>
<br />


<table>
<thead>
    <th>ID</th>
    <th>Nom</th>
    <th>Capacite</th>
    <th></th>
    <th></th>
</thead>

{% for avion in arrayAvions %}
<tbody>
    <tr id="row-{{ avion.avionId }}">
        <td id="avionId">{{ avion.avionId }}</td>
        <td id="avionNom">{{ avion.avionNom }}</td>
        <td id="avionNom">{{ avion.avionCapacite }}</td>
        <td><a href="{{ path('admin_avion_edit', { 'id': avion.avionId }) }}">Modifier</a></td>
        <td><a class="deleteLink" href="#">Supprimer</a></td>
    </tr>
{% else %}
	<tr><td>Aucun avion n'a été trouvé.</td></tr>
{% endfor %}
</tbody>
</table>


{% endblock %}